<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="/css/foundation.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas>
<div class="grid-y grid-padding-x" style="height: 100%;">
<br>
<div class="cell shrink">
<img class="thumbnail" src="https://placehold.it/550x350">
</div>
<div class="cell auto">
<h5>Mike Mikerson</h5>
<p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo.</p>
</div>
</div>
</div>
<div class="off-canvas-content" data-off-canvas-content>
<div class="title-bar hide-for-large">
<div class="title-bar-left">
<button class="menu-icon" type="button" data-toggle="my-info"></button>
<span class="title-bar-title">Mike Mikerson</span>
</div>
</div>
<div class="callout primary">
<article class="grid-container">
<div class="">
<h1>Hello! This is the portfolio of a very witty person.</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla.</p>
</div>
</article>
</div>
<article class="grid-container">
<div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-4">
    {{{body}}}
</div>
<hr>
<a href="/admin">Admin Area</a>
</article>
</div>
</body>
</html>
